# Schools

In [1]:
schools = {   
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035,
'brainstation'  : 10571,
'udacity'  : 11118,
'general-assembly'  : 10761
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [2]:
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)

ironhack
app-academy
springboard
brainstation
udacity
general-assembly

In [3]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

/var/folders/vh/7qkb52p54kq6xrbpd6rqjwsm0000gp/T/ipykernel_5532/501450192.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

app-academy

/var/folders/vh/7qkb52p54kq6xrbpd6rqjwsm0000gp/T/ipykernel_5532/501450192.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

springboard

/var/folders/vh/7qkb52p54kq6xrbpd6rqjwsm0000gp/T/ipykernel_5532/501450192.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

brainstation

/var/folders/vh/7qkb52p54kq6xrbpd6rqjwsm0000gp/T/ipykernel_5532/501450192.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

udacity

/var/folders/vh/7qkb52p54kq6xrbpd6rqjwsm0000gp/T/ipykernel_5532/501450192.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

general-assembly

/var/folders/vh/7qkb52p54kq6xrbpd6rqjwsm0000gp/T/ipykernel_5532/501450192.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

# Data Exploration & Cleaning

In [4]:
comments.head()

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
0,302783,Anonymous,True,None,2023.0,False,Tracking specialist,Overall positive,"<span class=""truncatable""><p></p><p>Ironhack w...",<p>Ironhack was a very good experience for me....,...,2023-07-11,Web Development Bootcamp,{'image': None},4.7,[],5.0,5.0,4.0,Ironhack was a very good experience for me. I'...,ironhack
1,302774,Anonymous,True,None,2023.0,False,,Awesome!,"<span class=""truncatable""><p></p><p>My skill l...","<p>My skill level has been enhanced, I met peo...",...,2023-07-11,None,{'image': None},5.0,[],5.0,5.0,5.0,"My skill level has been enhanced, I met people...",ironhack
2,302682,Anonymous,True,None,2023.0,False,,"The bootcamp in general is good, but not worth...","<span class=""truncatable""><p></p><p>For the va...",<p>For the value of 8 thousand euros I expecte...,...,2023-07-07,UX/UI Design Bootcamp,{'image': None},2.7,[],3.0,2.0,3.0,For the value of 8 thousand euros I expected m...,ironhack
3,302245,Anna,False,None,2023.0,False,,The Bootcamp experience was very mixed and the...,"<span class=""truncatable""><p></p><p>Pros: Grou...",<p>Pros: Group work and individual projects Ba...,...,2023-06-22,UX/UI Design Bootcamp,{'image': None},2.0,[],2.0,2.0,2.0,Pros: Group work and individual projects Basic...,ironhack
4,301920,Pedro Dias,False,None,2023.0,False,,"Updated content, great teacher, exciting proje...","<span class=""truncatable""><p></p><p>I had some...",<p>I had some experience coding as a hobby and...,...,2023-06-10,Web Development Bootcamp,{'image': None},4.7,[],5.0,5.0,4.0,I had some experience coding as a hobby and ha...,ironhack

In [5]:
locations = pd.concat(locations_list)
locations.head()

,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,NaN,NaN,NaN,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,ironhack,10828

In [6]:
courses = pd.concat(courses_list)
courses.head()

                    courses    school  school_id
0   Cyber Security Bootcamp  ironhack      10828
1   Cybersecurity Part-Time  ironhack      10828
2   Data Analytics Bootcamp  ironhack      10828
3  Data Analytics Part-Time  ironhack      10828
4     UX/UI Design Bootcamp  ironhack      10828

In [7]:
badges = pd.concat(badges_list)
badges.head()

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
0,Available Online,available_online,<p>School offers fully online courses</p>,app-academy,10525
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,app-academy,10525

In [8]:
schools = pd.concat(schools_list)
schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,"<span class=""truncatable""><p>Founded in 2012, ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
0,brainstation.io,"<span class=""truncatable""><p>BrainStation is t...",https://d92mrp7hetgfk.cloudfront.net/images/si...,brainstation,10571
0,www.udacity.com/?utm_source=switchup&utm_mediu...,"<span class=""truncatable""><p>Udacity is the tr...",https://d92mrp7hetgfk.cloudfront.net/images/si...,udacity,11118

In [9]:
comments_cleaned=comments.drop(['anonymous','name','anonymous','hostProgramName','graduatingYear','isAlumni', 
                                'body','rawBody', 'user','comments', 'createdAt' ], axis = 1)

In [10]:
comments_cleaned.head()

,id,jobTitle,tagline,queryDate,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,302783,Tracking specialist,Overall positive,2023-07-11,Web Development Bootcamp,4.7,5.0,5.0,4.0,Ironhack was a very good experience for me. I'...,ironhack
1,302774,,Awesome!,2023-07-11,None,5.0,5.0,5.0,5.0,"My skill level has been enhanced, I met people...",ironhack
2,302682,,"The bootcamp in general is good, but not worth...",2023-07-07,UX/UI Design Bootcamp,2.7,3.0,2.0,3.0,For the value of 8 thousand euros I expected m...,ironhack
3,302245,,The Bootcamp experience was very mixed and the...,2023-06-22,UX/UI Design Bootcamp,2.0,2.0,2.0,2.0,Pros: Group work and individual projects Basic...,ironhack
4,301920,,"Updated content, great teacher, exciting proje...",2023-06-10,Web Development Bootcamp,4.7,5.0,5.0,4.0,I had some experience coding as a hobby and ha...,ironhack

In [11]:
locations_cleaned=locations.drop(['description', 'country.id','city.id','city.keyword','state.id','state.name',
                                  'state.abbrev','state.keyword', ], axis = 1)

In [12]:
locations_cleaned.rename(columns = {'country.name':'country_name',
                            'country.abbrev':'country_abbrev',
                            'city.name':'city_name',
                           }, inplace = True)

In [13]:
locations_cleaned.head()

      id country_name country_abbrev    city_name    school  school_id
0  15901      Germany             DE       Berlin  ironhack      10828
1  16022       Mexico             MX  Mexico City  ironhack      10828
2  16086  Netherlands             NL    Amsterdam  ironhack      10828
3  16088       Brazil             BR    Sao Paulo  ironhack      10828
4  16109       France             FR        Paris  ironhack      10828

In [14]:
badges_cleaned=badges.drop(['description'], axis = 1)

In [15]:
badges_cleaned.head()

                name            keyword       school  school_id
0   Available Online   available_online     ironhack      10828
1  Verified Outcomes  verified_outcomes     ironhack      10828
2   Flexible Classes   flexible_classes     ironhack      10828
0   Available Online   available_online  app-academy      10525
1   Flexible Classes   flexible_classes  app-academy      10525

In [16]:
courses.head()

                    courses    school  school_id
0   Cyber Security Bootcamp  ironhack      10828
1   Cybersecurity Part-Time  ironhack      10828
2   Data Analytics Bootcamp  ironhack      10828
3  Data Analytics Part-Time  ironhack      10828
4     UX/UI Design Bootcamp  ironhack      10828

In [17]:
schools_list = pd.DataFrame(schools)

# Connect to SQL

In [18]:
from sqlalchemy import create_engine
import pandas as pd
import getpass

In [19]:
import mysql.connector

In [20]:
password = getpass.getpass()

Â·Â·Â·Â·Â·Â·Â·Â·

In [21]:
cnx = mysql.connector.connect(user = "root",
                             password = password,
                             host = "localhost")

In [23]:
cursor = cnx.cursor()

In [24]:
query = ("""CREATE DATABASE IF NOT EXISTS schoolsdata""")
cursor.execute(query)

In [25]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=password,
                               db="schoolsdata"))

In [26]:
comments_cleaned.to_sql('comments', con = engine, if_exists = 'append', chunksize = None)

6685

In [27]:
locations_cleaned.to_sql('location', con = engine, if_exists = 'append', chunksize = None)

26

In [28]:
courses.to_sql('courses', con = engine, if_exists = 'append', chunksize = None)

94

In [29]:
badges_cleaned.to_sql('badges', con = engine, if_exists = 'append', chunksize = None)

18

In [30]:
schools_list.to_sql('schools_list', con = engine, if_exists = 'append', chunksize = None)

6